.stars-container {
  display: flex;
  justify-content: center;
  gap: 10px; // Espacio entre estrellas

  i {
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.2); // Efecto zoom al pasar el mouse
    }
  }
}

.text-warning {
  color: #ffc107 !important; // Amarillo oro
}

.text-muted {
  color: #e4e4e4 !important; // Gris clarito para las desmarcadas
}