.scroll-container {
    max-height: 400px;
    overflow-y: auto;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
}

summary::-webkit-details-marker {
    display: none;
}